html, body {
    line-height: 1.5;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#gameCanvas {
    // width: 800px;
    // height: 400px;
    border: 2px solid black;
}