html, body {
    line-height: 1.5;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    font-size: 16px;
    color: #ccc;
    background-color: #000000;
    overflow: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.game-bar {
    display: flex;
    padding: 10px;
    justify-content: space-around;
}

.content {
    #gameCanvas {
        touch-action: none;
        user-select: none;
        cursor: pointer;
        margin-left: 195px;
        margin-right: -195px;
        background-color: #4c9df6;
    }
}